/* This file is for your main application css. */

/* @import "./phoenix.css"; */

.sub-head {
  color: #6c757d;
}

.cross {
  background-color: #3e3e3e;
  width: 90px;
  height: 50px;
  padding: 0.5em;
  border-radius: 3px;
}

.alert p {
  text-align: center;
}

.closer {
  opacity: 0.5;
  cursor: pointer;
  float: right;
  font-size: 1em;
  line-height: 1em;
  font-weight: 700;
}

.actions {
  text-align: right;
}

.actions a {
  margin-right: 0.5em;
}